<!DOCTYPE html>
<html lang="pt-br">
<head>
	{% load static %}
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>{{musica.nome}}</title>
	<link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
</head>
<body>
	<h1>
		<img src="{% static 'img/partitura.png' %}" width="100px" height="50px">
		{{musica.nome}}
	</h1>
	<table class="table table-striped">
		<thead>
			<th>Nome</th>
			<th>Autor</th>
			<th></th>
		</thead>
		<tbody>
			<tr>
				<td>{{ musica.nome }}</td>
				<td>{{ musica.autor }}</td>
				<td>
					<button>
						<a href="{{musica.link}}">
							Ouvir
						</a>
					</button>
				</td>
			</tr>
		</tbody>
	</table>
	<button><a href="/">Voltar</a></button>
</body>
</html>